{
    debug

    frankenphp {
        worker ./public/index.php
    }
}

app.localhost:443 {
    log
    root * /app/public
    php_server /app/public/index.php
    encode zstd br gzip

    request_header X-Sendfile-Type x-accel-redirect

    php_server {
       try_files {path} index.php
    }
}
